@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400";

html {
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	min-height: 100%;
	font-size: 16px;
	overflow-x: hidden;
}

.mt-40 {
	margin-top: 40px;
}

.mb-40 {
	margin-bottom: 40px;
}

.hidden {
	display: none !important;
}

.flex {
	display: flex;
}

.flex-dir-col {
	flex-direction: column;
}

.flex-align-center {
	align-items: center;
}

.flex-justify-center {
	justify-content: center;
}

.flex-justify-space-between {
	justify-content: space-between;
}

.w-100 {
	width: 100%;
}

.w-25 {
	width: 25%;
}
